*{
display:none;
gap:20px;
flex-wrap:wrap;
justify-content:center;
margin-top:30px;
}


.letter{
width:260px;
background:white;
padding:20px;
border-radius:15px;
box-shadow:0 8px 20px rgba(0,0,0,.1);
cursor:pointer;
transition:.3s;
}


.letter:hover{
transform:translateY(-10px);
}


.message{
display:none;
margin-top:10px;
color:#555;
}


h1{
font-size:2.3rem;
margin-bottom:10px;
}


.final{
font-size:1.8rem;
margin-top:40px;
font-weight:bold;
}




/* MOBILE OPTIMIZATION */
@media(max-width:600px){
h1{
font-size:1.8rem;
}


.letter{
width:90%;
}
}